.b1 {
    top:5%;
    right:4%
}

.b2 {
    top:20%;
    right:18%
}

.b3 {
    top:35%;
    right:32%
}

.b4 {
    top: 50%;
    right: 46%;
}

.b5 {
    top: 48%;
    right: 8%;
}

.b6 {
    top: 33%;
    right: 10%;
}

.b7 {
    top: 63%;
    right: 22%;
}

.mainContainer {
    background-color: antiquewhite;
    height: 880px;
    width: 100%;
    overflow: hidden;

}

.displayDiv {
    display: flex;
    margin: 200px 0px 0px 100px;
}

.navDiv {
    display: flex;
    margin: 50px 0px 0px 100px;
}
    .navButtons{
        margin: 0px 30px 0px 30px;
        transition: all 1s ease;
    }
    .navButtons img{
        width: 50px;
        height: 50px;
    }
        .navButtons:hover .navLabels{
            visibility: visible;
            transition: all 1s ease;
        }
            .navButtons:hover{
                filter: brightness(0) invert(1);
                transition: all .4s ease;
            }
            .navLabels {
                visibility: hidden;
            }