.pet_background {
    background-image: url(../../imgs/backgrounds/inq.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.pet_main_con {
    /* background-color: #e9ece5; */
    height: 140rem;
    width: 100%;
    overflow: hidden;
    transform: skew(0deg, 10deg);
    margin: 0px 0px 0px 0px;
}

    .pet_main_con::after {
        content: "";
        background-color: #b3c2bf;
        opacity: 0.9;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .pet_inner_con {
        transform: skew(0deg, -10deg);
        padding: 0rem 0rem 3rem 0rem;
        }

@media (max-width: 480px) {

    
    .pet_main_con {
        height: 220rem;
    }

    .img_div img {
        width: 17rem;
        height: 10rem;
    }

    .features_div img {
        width: 17rem;
        height: 10rem; 
    }
}