.resume_background {
    /* background-image: url(../../imgs/backgrounds/resume_background.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
    .resume_main_con {
        height: 100%;
        width: 100%;
        overflow: hidden;
        transform: skew(0deg, 10deg);
        margin: 0px 0px 0px 0px;
    }

        .resume_main_con::after {
            content: "";
            background-color:#c0dfd9;
            opacity: 0.8;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
            .resume_inner_con {
                    height: 180rem;
                    transform: skew(0deg, -10deg);
                    margin: 3rem 0rem 0rem 0rem;
            }
/* ------------------------- */

    .main_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .about_me_title {
            font-family: 'Montserrat', sans-serif;
            /* border-bottom: solid black 1px; */
            /* margin: 0rem 0rem 2rem 0rem; */
            display: flex;
            justify-content: center;
            margin: 4rem 0rem 2rem 0rem;

            /* margin: 0rem 3rem 0rem 3rem; */
        }

        .my_desc_div p {
            width: 55%;
            margin: 2rem 0rem 0rem 23%;
            font-family: 'Montserrat', sans-serif;

        }
/* -------------- */
        .contact_div {
            display: flex;
            justify-content: center;
            /* align-items: center; */
            flex-wrap: wrap;
            margin: 0rem 0rem 0rem 0%;
            width: 100%;
        }
            .contact_me_title {
                font-family: 'Montserrat', sans-serif;
                /* width: 50%; */
                /* border-bottom: solid black 1px; */
                margin: 4rem 0rem 2rem 0rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* display: flex; */
                /* justify-content: center; */
            }
        .hidden_media_contact_list {
            visibility: hidden;
            position: absolute;
        }

            .flip-card {
                background-color: transparent;
                width: 8.5rem;
                height: 8.5rem;
                perspective: 1000px;
                margin: 1rem;
            }

                .flip-card-inner {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                }

            .flip-card:hover .flip-card-inner {
                transform: rotateY(180deg);
            }

            .flip-card-front, .flip-card-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    border-radius: 80px;
                    }

                    .flip-card-front {
                        background-color: antiquewhite;
                        color: black;
                    }
                        .flip-card-front img {
                            width: 8.5rem;
                            height: 8.5rem;
                        }

                    .flip-card-back {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: antiquewhite;
                        transform: rotateY(180deg);
                        font-family: 'Montserrat', sans-serif;
                    }
                        .contact_cardback_link {
                            text-decoration: none;
                        }
                        .contact_cardback_link:hover {
                            color: #c0dfd9;
                            transition: all 0.5s ease;                        }

/* -------------- */

.hidden_meda_skill_list {
    visibility: hidden;
    position: absolute;
}


.skills_title {
    font-family: 'Montserrat', sans-serif;
}
        .skills_div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

                .cardFront, .cardBack {
                    border-radius: 140rem;
                    background-color: antiquewhite;
                }

                    .cardBack{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                .back_card_p {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    font-size: 1.2rem;
                    align-items: center;
                }

                    .skillimgSize {
                        height: 7rem;
                        width: 7rem;
                    }

/* -------------- */


.work_edu_exp_div {
    margin: 3rem 0rem 0rem 0rem;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}
    .sectioned_div {
        border-top: 1px solid black;
    }

    .rightDiv {
        font-family: 'Montserrat', sans-serif;
        width: 500px;
        text-align: left;
        margin: 0rem 0rem 0rem 5rem;
    }
    .edu_div {
        font-family: 'Montserrat', sans-serif;
        line-height: 1;
        text-align: left;
        margin: 0.5rem 0rem 0rem 0rem;
        width: 500px;
    }

        /* ------------------ */

@media (max-width: 1024px) {

    .resume_inner_con {
        height: 280rem;
    }

    .work_edu_exp_div {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    }

    .edu_div {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* text-align: center; */
        width:100%;
        padding: 0rem 2rem 0rem .2rem;
        margin: 0rem 4rem 0rem 2rem;
        /* margin: 0rem 0rem 0rem 5rem; */
    }

    .rightDiv {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* text-align: center; */
        width:100%;
        padding: 0rem 2rem 0rem .2rem;
        margin: 0rem 4rem 0rem 2rem;
    }

    .ul_list{
        /* list-style-type: none; */
        width: 70%;
    }

    .contact_div {
        width: 80%;
        margin: 0rem 0rem 0rem 5rem;
    }

    .contact_me_title {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .main_skill_media_list {
        visibility: hidden;
        position: absolute;
    }

    .hidden_meda_skill_list {
        visibility: visible;
        position: relative;
    }

    .media_div_contact {
        visibility: hidden;
        position: absolute;
    }
    .hidden_media_contact_list {
        visibility: visible;
        position: relative;
    }

    .contact_me_title, .about_me_title, .skills_title {
        border-bottom: solid black 1px;
        padding: 0rem 0rem .5rem 0rem
    }
}

@media (max-width: 480px) {

    .resume_inner_con {
        height: 320rem;
    }

    .contact_div {
        width: 100%;
        margin: 0rem 1rem 0rem 0rem;
    }

    .edu_div {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* text-align: left;
        width:15rem;
        margin: 0rem 0rem 0rem 7rem; */
    }

    .rightDiv {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* text-align: left;
        width:15rem;
        margin: 0rem 0rem 0rem 7rem; */
    }

    .main_skill_media_list {
        visibility: hidden;
        position: absolute;
    }

    .hidden_meda_skill_list {
        visibility: visible;
        position: relative;
    }

    .media_div_contact {
        visibility: hidden;
        position: absolute;
    }
    .hidden_media_contact_list {
        visibility: visible;
        position: relative;
    }
}